*.*~
tilestore
mapproxy_configuration/cache_data
mapproxy_configuration/log_*
mapproxy_configuration/source-requests*
mapproxy_configuration/mapproxy_*
.idea*
web/index.html
scenario_tests/s3/tests/__pycache__*
scenario_tests/multi_proxy/tests/__pycache__*
scenario_tests/proxy/tests/__pycache__*
