*.*~
tilestore
mapproxy_configuration/cache_data
mapproxy_configuration/log_*
mapproxy_configuration/source-requests*
mapproxy_configuration/mapproxy_*
minio_data/**
!minio_data/
!minio_data/.gitkeep
.idea*
web/index.html
