.legend {
    background-color: white;
    padding: 10px;
    line-height: 20pt;
}
.legend-icon {
    font-size:18pt;
    padding: 5px;
    background-color: white;
    color: grey; border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 15px;
    border-radius: 5px;
}
.info a {
    text-decoration: none;
}

.reset-zoom-icon {
    font-size:15pt;
    padding: 3px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}