volumes:
  minio_data:
services:
  map:
    image: 3liz/qgis-map-server:3.30
    environment:
      - QGSRV_SERVER_WORKERS=6
      - QGSRV_LOGGING_LEVEL=DEBUG
      - QGSRV_CACHE_ROOTDIR=/web
      - QGSRV_CACHE_SIZE=100
      - QGSRV_SERVER_TIMEOUT=300
    volumes:
      - ./data:/web
  minio:
    image: quay.io/minio/minio
    environment:
      - MINIO_ROOT_USER=minio_admin
      - MINIO_ROOT_PASSWORD=secure_minio_secret
    entrypoint: /bin/bash
    command: -c 'minio server /data --console-address ":9001"'
    volumes:
      - minio_data:/mapproxy
    ports:
      - "9000:9000"
      - "9001:9001"
  mapproxy:
    image: kartoza/mapproxy
    environment:
      - PRODUCTION=true
      - PROCESSES=4
      - CHEAPER=2
      - THREADS=10
      - MAPPROXY_USER_ID=1000
      - MAPPROXY_GROUP_ID=1000
      - LOGGING=true
      - AWS_ACCESS_KEY_ID=minio_admin
      - AWS_SECRET_ACCESS_KEY=secure_minio_secret
      - ENABLE_S3_CACHE=true
      - CREATE_DEFAULT_S3_BUCKETS=true
      - AWS_S3_SIGNATURE_VERSION=s3v4
      - S3_BUCKET_LIST=mapproxy
      - S3_BUCKET_ENDPOINT=http://minio:9000/
    volumes:
      - ./mapproxy_configuration:/mapproxy
      - ./tests:/tests
    depends_on:
      - map
      - minio

