name: build-latest
on:
  workflow_dispatch:
  pull_request:
    branches: [main, master]
    paths:
      - 'Dockerfile'
      - 'scripts/**'
      - 'build_data/**'
      - '.github/workflows/**'
  push:
    branches: [main, master]
    paths:
      - 'Dockerfile'
      - 'scripts/**'
      - 'build_data/**'
      - '.github/workflows/**'

jobs:
  determine_run:
    runs-on: ubuntu-latest
    outputs:
      skip_release: ${{ steps.skip_check.outputs.skip_release }}
    steps:
      - name: Determine skip-release
        id: skip_check
        run: |
          if [[ "${{ github.actor }}" == "dependabot[bot]" ]]; then
            echo "skip_release=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          if [[ "${{ github.event.pull_request.title }}" == *"[skip-release]"* ]]; then
            echo "skip_release=true" >> $GITHUB_OUTPUT
            exit 0
          fi
          echo "skip_release=false" >> $GITHUB_OUTPUT
  run-scenario-tests:
    if: needs.determine_run.outputs.skip_release == 'false'
    runs-on: ubuntu-latest
    needs: [ determine_run ]
    strategy:
      matrix:
        mapproxy_version:
          - '==6.0.1'
        imageVersion:
          - image: 3.13.9
        scenario:
          - s3
          - proxy
          - multi_proxy
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image for testing
        id: docker_build_testing_image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: false
          load: true
          tags: kartoza/mapproxy
          build-args: |
            IMAGE_VERSION=${{ matrix.imageVersion.image }}
            MAPPROXY_VERSION=${{ matrix.mapproxy_version }}
          cache-from: |
           type=gha,scope=test
           type=gha,scope=prod
          cache-to: type=gha,scope=test

      - name: Run scenario test ${{ matrix.scenario }}
        working-directory: scenario_tests/${{ matrix.scenario }}
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
          PRINT_TEST_LOGS: 1
        run: |
          bash ./test.sh

  push-internal-pr-images:
    if: |
      github.event_name == 'pull_request' && 
      github.event.pull_request.base.repo.url == github.event.pull_request.head.repo.url && 
      needs.determine_run.outputs.skip_release == 'false'
    runs-on: ubuntu-latest
    needs: [ run-scenario-tests, determine_run ]
    strategy:
      matrix:
        mapproxy_version:
          - '==6.0.1'
        imageVersion:
          - image: 3.13.9
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_REPO}}/mapproxy
          tags: |
            type=semver,pattern=\d.\d.\d
            type=ref,event=branch
            type=ref,event=pr
